.create_event_card{
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}
.details{
    display: grid;
    grid: 
    "ename ename location availbtn" 1fr
    "incharge inchargeemail inchargephone org" 1fr
    "sdate edate cost eimg" 1fr
    "artist desc desc publish" 1fr
    "button button button button" 1fr
    /1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}
.details > *{
    max-height: 50px;
    margin: 20px 0;
}
.details > div{
    position: relative;
}
.float_label{
    font-size: 1rem;
    color: #ffffff;
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
    cursor: text;
    background-color: #000;
    letter-spacing: 1px;
}

.float_input:focus + .float_label::before,
.float_input:valid + .float_label::before{
    opacity: 1;
    height: 90%;
}
.float_input:focus + .float_label::after,
.float_input:valid + .float_label::after{
    opacity: 1;
    height: 90%;
}
.float_label::after,.float_label::before{
    transition: height 90ms linear 90ms;
    content: " | ";
    opacity: 0;
    height: 0;
    width: 100%;
    color: #bb00ff;
    font-size: 0.9rem;
    font-weight: 900;
}
.float_input:focus + .float_label,
.float_input:valid + .float_label{
    color: #fff;
    position: absolute;
    top: -10px;
    left: 15px;
    font-size: 0.9rem;
}
.float_input:focus,
.float_input:valid{
    border: 3px solid #bb00ff;
}
.ename_div {
    grid-area: ename;
}
.sdate_div {
    grid-area: sdate;
}
.edate_div{
    grid-area: edate;
}
.org_div {
    grid-area: org;
}
.artist_div {
    grid-area: artist;
}
.cost_div {
    grid-area: cost;
}
.desc_div {
    grid-area: desc;
}
.eimg_div {
    grid-area: eimg;
    position: relative;
}

.incharge_div{
    grid-area: incharge;
}
.inchargeemail_div{
    grid-area: inchargeemail;
}
.inchargephone_div{
    grid-area: inchargephone;
}
.publish_div{
    grid-area: publish;
}
.availbtn{
    grid-area:availbtn;
}
.submitbtn{
    grid-area:button;
}
.eimg_div > label {
    cursor: pointer;
    width: 100%;
    color: #ffffff;
    position: absolute;
    top: 0;
    height: 50px;
    padding: 10px 0 10px 40px;
    border-radius: 10px;
    border: 5px solid #bb00ff;
    font-size: 1rem;
    overflow: hidden;
}
.eimg_div > label::before{
    content: "Event Thumbnail";
    position: absolute;
    color: #fff;
    top: -23px;
    left: -5px;
}
.eimg_div img{
    width: 20px;
    position: absolute;
    top: 23%;
    left: 5%;
}
.location_div {
    grid-area: location;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title > button{
    width: 20%;
    background-color: rgb(112, 78, 234);
}
.h1{
    font-size: 2rem;
    color: #fff;
}
.btn_primary{
    background-color: rgb(234,78,79);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

/* image popup */
.openimagepop{
    background-color: rgb(210, 114, 114);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    font-size: 1rem;

}
.imgpopup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: 50vh;
    border-radius: 10px;
    background-color: #484848;
    padding: 10px;
    z-index: 100;
}
.imgpopup > img{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 80%;
    border-radius: 10px;
    z-index: 101;
    margin: auto;
}
.imgclosePop{
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    z-index: 101;
}
.overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: inherit;
}