.login_container {
  width: 400px;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login_container > p{
  color: #fff;
  text-align: center;
  margin: 10px 0;
}
.login_container > p > a{
  text-decoration: none;
  color: rgb(234,78,79);
}
.login_container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}
.login_container form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login_container form > *{
  margin: 10px 10px;
  width: 90%;
}
.login_container div{
  position: relative;
}
.wrapper{
  position: relative;
  background-color: rgb(17,17,17);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 5;
}
.logo a {
  font-size: 2rem;
  font-weight: 900;
  color: #ffffff;
  text-decoration: none;
}