.alert{
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 99;
    min-width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
}
.alert > span{
    font-size: 1rem;
}
