.popup{
    background-color: #1e1d1d;
    border-radius: 20px;
    position: fixed;
    top: 10%;
    left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    min-width: 60vw;
    min-height: 60vh;
    max-width: 80vw;
    max-height: 80vh;
    color: #fff;
    padding: 20px;
    z-index: 20;
}
.popup > img{
    grid-area: 1/1/span 3/span 1;
    width: 90%;
    border-radius: 20px;
    margin:20px;
}
.popup > .close{
    position: absolute;
    left: 96%;
    top: 5%;
    font-size: 2rem;
    cursor: pointer;
}
.popup > .title{
    grid-area: 1/2/span 1/span 1;
    font-size: 2.5rem;
    margin: 20px 0 10px 0;
}
.popup > .desc{
    grid-area: 2/2/span 1/span 2;
    font-size: 1.4rem;
    background-color: #000;
    padding: 10px;
    border-radius: 20px;
}
.spans{
    grid-area: 3/2/span 1/span 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.spans > span{
    margin: 5px 0 20px 0;
    background-color: #000;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}
.btn{
    grid-area: 3/2/span 2/span 2;
    margin-bottom: 40px;
    text-decoration: none;
    margin-top: 70px;
    max-height: 60px;
    text-align: center;
    border-radius: 20px;
    font-size: 2rem;
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}.btn:hover {
    background-color: #cc5200;
}