.header{
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    width: 100%;
}
  
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
  }
  
  .menu li {
    margin-left: 20px;
  }
  
  .menu a {
    color: #333;
    text-decoration: none;
  }
  
  .menu a:hover {
    color: #ff6600;
  }